<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-lg-3">
            <product-filter [category]="category"></product-filter>
        </div>
        <div  class="col-lg-9">
            <div class="row">
                <ng-container *ngFor="let p of filterProducts; let i = index">
                    <div class="col">
                        <product-card [product]="p"></product-card>
                    </div>
                    <div *ngIf="(i +1) % 2 === 0"  class="w-100"></div>
                </ng-container>
            </div>
       </div>
    </div>
</div>